/* p {
    background-color: yellowgreen;
}

span {
    background-color: aqua;
}

div {
    background-color: bisque;
}

div div {
    background-color: orange;
} */
div {
    background-color: yellow;
}

div div p {
    background-color: green;
}

span {
    background-color: chocolate;
}