.container{

  margin: 20px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;

}

.form-box{
   border: 1px solid black;
   background-color: aqua;
}

div, button{
  margin: 10px;
}